.Schedule {
  padding: 140px 0;

  background: linear-gradient(180deg, #1c3448 0%, #ffd7bb 100%);
}

.Schedule-image,
.Schedule-mobileImage {
  max-width: 100%;
}

.Schedule-image {
  display: none;
}

.Schedule-mobileImage {
  display: block;
}

@media screen and (min-width: 1024px) {
  .Schedule-image {
    display: block;
  }

  .Schedule-mobileImage {
    display: none;
  }
}
