.Navigation {
  position: relative;

  width: 100%;
  min-height: 100vh;

  padding: 0 20px;
}

.Navigation-linkWrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 80vh;
}

.Navigation-link,
.Navigation-hall {
  display: block;

  margin: 8px 0;

  font-family: 'mr-eaves-xl-modern';
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.15em;

  border-radius: 8px;

  overflow: hidden;
}

.Navigation-link {
  flex: 1;

  position: relative;

  min-height: 60px;

  text-align: left;

  padding: 24px 8px 8px 8px;

  background: linear-gradient(
    281.61deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 100%
  );

  overflow: hidden;
}

.Navigation-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.Navigation-linkLabel {
  position: absolute;

  top: 0;
  left: 8px;
}

.Navigation-linkNote {
  position: absolute;

  bottom: 8px;
  left: 8px;
}

.Navigation-hall {
  position: absolute;

  bottom: 0;
  left: 50%;

  height: 90px;

  text-align: center;

  transform: translateX(-50%);
}

.Navigation-hallEye {
  height: 100%;
  width: auto;
}

.Navigation-linkBackground {
  position: absolute;

  bottom: 0;

  width: calc(100% - 16px);

  border-radius: 3%;

  z-index: -1;

  animation: linkBackgroundAnimation 10s linear alternate infinite;
}

.Navigation-link:nth-child(1) .Navigation-linkBackground {
  animation-delay: 1s;
  animation-direction: alternate-reverse;
}
.Navigation-link:nth-child(2) .Navigation-linkBackground {
  animation-delay: -1s;
}
.Navigation-link:nth-child(3) .Navigation-linkBackground {
  animation-delay: 2.3s;
}
.Navigation-link:nth-child(4) .Navigation-linkBackground {
  animation-delay: 4s;
}
.Navigation-link:nth-child(5) .Navigation-linkBackground {
  animation-delay: 2s;
}

@keyframes linkBackgroundAnimation {
  from {
    transform: translateY(75%);
  }

  to {
    transform: translateY(0%);
  }
}

@media screen and (min-width: 760px) {
  .Navigation-linkWrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .Navigation-link,
  .Navigation-hall {
    height: 204px;

    margin: 12px;

    border-radius: 4px;
  }

  .Navigation-link {
    flex: 1;

    min-width: 208px;
    max-width: 208px;

    padding: 44px 12px 12px 12px;

    background: linear-gradient(
      314.58deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .Navigation-linkLabel {
    top: 12px;
    left: 12px;
  }

  .Navigation-linkNote {
    bottom: 12px;
    left: 12px;

    max-width: 100px;
  }

  .Navigation-linkBackground {
    width: 183px;
    height: 148px;

    animation: none;
  }

  .Navigation-hall {
    position: static;

    text-align: center;

    transform: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .Navigation {
    display: flex;
    align-items: center;
  }

  .Navigation-linkWrapper {
    align-items: center;

    min-height: auto;

    margin-bottom: 200px;
  }
  .Navigation-hall {
    position: absolute;

    transform: translate(-50%);
  }
}
