.Navigation {
  position: relative;

  width: 100%;
  height: 100%;

  padding: 0 20px;
}

.Navigation-link,
.Navigation-hall {
  display: block;

  margin: 8px 0;

  font-family: 'mr-eaves-xl-modern';
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.15em;

  border-radius: 8px;

  overflow: hidden;
}

.Navigation-link {
  position: relative;

  height: 60px;

  text-align: left;

  padding: 24px 8px 8px 8px;

  background: linear-gradient(281.61deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}

.Navigation-link:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.Navigation-linkLabel {
  position: absolute;

  top: 0;
  left: 8px;
}

.Navigation-linkNote {
  position: absolute;

  bottom: 8px;
  left: 8px;
}

.Navigation-hall {
  position: absolute;

  bottom: 0;
  left: 50%;

  height: 200px;

  text-align: center;

  transform: translateX(-50%);
}

.Navigation-hallEye {
  height: 100%;
  width: auto;
}

.Navigation-linkBackground {
  position: absolute;

  width: calc(100% - 16px);
  height: 28px;

  z-index: -1;

  border-radius: 4px;
}

@media screen and (min-width: 1024px) {
  .Navigation {
    top: 50%;

    height: auto;

    padding: 0 0;

    transform: translateY(-50%);
  }

  .Navigation-link,
  .Navigation-hall {
    display: inline-block;

    height: 204px;

    margin: 12px;

    border-radius: 4px;
  }

  .Navigation-link {
    width: 208px;

    padding: 44px 12px 12px 12px;

    background: linear-gradient(314.58deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
  }

  .Navigation-linkLabel {
    top: 12px;
    left: 12px;
  }

  .Navigation-linkNote {
    bottom: 12px;
    left: 12px;

    max-width: 100px;
  }

  .Navigation-linkBackground {
    width: 183px;
    height: 148px;
  }

  .Navigation-hall {
    position: static;

    width: 442px;

    text-align: center;

    transform: none;
  }
}
