.root {
  width: calc(100% + 20px);
  padding: 8px 56px 8px 8px;
}

.division {
  border-top: 1px solid black;
  border-bottom: 1px solid white;
  margin: 28px 0;
}

.title {
  font-family: 'lores-21-serif';
  line-height: 56px;
  font-size: 40px;
}

.subtitle {
  font-family: 'lores-21-serif';
  line-height: 40px;
  font-size: 29px;
}

.text {
  font-family: 'lores-21-serif';
  line-height: 28px;
  font-size: 20px;
}

.bullet {
  margin-right: 16px;
}

.bulletpoint {
  display: inline;
}

.listitem {
  max-width: 100%;
  overflow: hidden;
}

.horizontalImage,
.verticalImage {
  display: block;
  margin-bottom: 28px;
}

.horizontalImage {
  max-height: 224px;
  max-width: 100%;
}

.verticalImage {
  max-height: 320px;
  max-width: 100%;
}
.visuallyHidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;

  border: 0;
  clip: rect(0 0 0 0);
}

@media screen and (min-width: 650px) {
  .root {
    height: 472px;
    overflow: scroll;

    padding: 28px 76px 28px 28px;
  }
}
