.root {
  width: calc(100% + 20px);
  padding: 8px 36px 8px 8px;
  height: 472px;
  overflow: scroll;
}

.division {
  border-top: 1px solid black;
  border-bottom: 1px solid white;
  margin: 28px 0;
}

.title {
  font-family: 'LoRes 21 OT';
  line-height: 56px;
  font-size: 40px;
}

.subtitle {
  font-family: 'LoRes 21 OT';
  line-height: 40px;
  font-size: 29px;
}

.text {
  font-family: 'LoRes 21 OT';
  line-height: 28px;
  font-size: 20px;
}

.bullet {
  margin-right: 16px;
}

.bulletpoint {
  display: inline;
}

.visuallyHidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;

  border: 0;
  clip: rect(0 0 0 0);
}

@media screen and (min-width: 650px) {
  .root {
    padding: 28px 56px 28px 28px;
  }
}
