.Button {
  display: inline-block;
  position: relative;

  padding: 10px 26px;

  color: #1c3448;
  font-size: 20px;
  line-height: 28px;
  font-family: 'freight-text-pro';
  text-align: center;
  text-decoration: none;

  border: 2px solid #1c3448;

  background: none;

  z-index: 1;

  transition: transform 0.3s ease-out;
}

.Button.Button--fullWidth {
  width: 100%;
}

.Button:hover {
  transform: scale(1.025);

  cursor: pointer;
}

.Button-shadow {
  position: absolute;

  width: calc(100% + 4px);
  height: calc(100% + 4px);

  z-index: 0;

  top: -2px;
  left: -2px;

  border: 2px solid rgba(31, 48, 70, 0.397702);

  background: none;

  filter: blur(2px);

  transition: all 0.15s linear;

  transform-origin: center;
}

.Button:hover .Button-shadow {
  filter: blur(1px);
}
