.Towers {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  min-height: 200vh;

  background: linear-gradient(to bottom, #a10b53 0%, #1c3448 50%);
}

.Towers-canvasWrapper {
  position: sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: -moz-sticky;
  position: -webkit-sticky;

  top: 0;
  left: 0;

  height: 100vh;

  transform: translateY(calc(50vh - 50%));

  overflow: hidden;
  pointer-events: none;
}

.Towers-canvas {
  position: absolute;

  top: 50%;

  width: 100%;
  max-width: 100vw;

  transform: translateY(-50%) scale(2);
}

@media screen and (min-width: 1024px) {
  .Towers {
    background: none;
  }

  .Towers-canvasWrapper {
    margin-bottom: 200px;
  }

  .Towers-canvas {
    top: 0;

    transform: none;
  }
}
