.SpeakerPage {
  display: flex;
  flex-direction: column;
}

.SpeakerPage-content {
  max-width: 1440px;

  margin: 0 auto;
}

.SpeakerPage-contentWrapper {
  background: linear-gradient(#430e47, #a10b53);
}

.SpeakerPage-header {
  display: none;
}

.SpeakerPage-header.is-mobile {
  display: block;
}

.SpeakerPage-information {
  display: flex;
  flex-direction: column;

  margin-top: 275px;
}

.SpeakerPage-overview {
  position: relative;
}

.SpeakerPage-navigation {
  padding: 0 14px;
}

.SpeakerPage-link {
  display: flex;
  align-items: center;

  font-family: 'clip';
  line-height: 28px;
  font-size: 20px;
  color: #fad691;
  text-decoration: none;
  text-shadow: 0 0 5px #fad691;

  transition: text-shadow 0.3s ease-in-out;
}

.SpeakerPage-link:hover {
  text-shadow: 0 0 20px #fad691;
}

.SpeakerPage-link:hover .SpeakerPage-linkIcon {
  transform: translate(5px);
}

.SpeakerPage-linkIcon {
  max-height: 28px;
  width: 30px;

  margin-right: 16px;

  text-align: center;

  transition: transform 0.3s ease-in-out;
}

.SpeakerPage-picture {
  max-width: 100%;

  margin-top: -14px;
}

.SpeakerPage-name {
  position: absolute;

  max-width: 242px;

  bottom: 100%;
  left: -30px;

  font-family: 'still-time';
  line-height: 84px;
  font-size: 84px;
  text-shadow: 0 0 20px #fad691;

  color: #fad691;
  transform: rotate(-30deg) translateY(50%);
}

.SpeakerPage-speakerLinks {
  padding: 0 14px;
  margin-bottom: 40px;
}

.SpeakerPage-speakerLinks .SpeakerPage-link {
  margin-bottom: 20px;
}

.SpeakerPage-dateTime {
  font-family: 'clip';
  line-height: 28px;
  font-size: 20px;
  color: #ffffff;
  text-shadow: 0 0 #ffffff 7px;
}

.SpeakerPage-details {
  margin-bottom: 52px;
  padding: 20px 14px 0;

  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-family: 'proxima-nova';
}

.SpeakerPage-details h2 {
  margin-bottom: 8px;

  font-family: 'clip';
  line-height: 28px;
  font-size: 20px;
  color: #ffcff7;
  text-shadow: 0 0 #ffcff7 7px;
}

.SpeakerPage-details h2:first-child {
  margin-top: 40px;
}

.SpeakerPage-details * + h2 {
  margin-top: 64px;
}

.SpeakerPage-details *:not(h2) + h3 {
  margin: 40px 0;
}

.SpeakerPage-details h2 + p,
.SpeakerPage-details h2 + ul {
  margin-top: 28px;
}

.SpeakerPage-details h3 {
  font-size: 18px;
  line-height: 20px;
  font-family: 'freight-text-pro';

  margin-bottom: 28px;
}

.SpeakerPage-details p {
  margin-bottom: 28px;
}

.SpeakerPage-details strong {
  font-size: 16px;
  font-weight: bold;
}

.SpeakerPage-details ul {
  margin-bottom: 28px;
}

.SpeakerPage-details ul ul {
  margin-bottom: 0px;
}

.SpeakerPage-details li {
  list-style-type: circle;
}

.SpeakerPage-details a {
  color: #1c3448;
  font-size: 16px;
  line-height: 20px;
  font-family: 'lato';
  font-weight: bold;
}

@media screen and (min-width: 769px) {
  .SpeakerPage-header {
    display: block;
  }

  .SpeakerPage-header.is-mobile {
    display: none;
  }

  .SpeakerPage-navigation {
    padding: 0 146px;
  }

  .SpeakerPage-footerNavigation {
    position: relative;

    padding: 0 146px;

    transform: translateY(224px);
  }

  .SpeakerPage-information {
    flex-direction: row;
    flex-wrap: wrap;

    padding: 0 146px;
  }

  .SpeakerPage-overview {
    flex: 3;
    min-width: 366px;

    margin-right: 146px;
  }

  .SpeakerPage-name {
    position: absolute;

    max-width: 242px;

    transform: translateX(-108px) rotate(-30deg) translateY(100%);
  }

  .SpeakerPage-speakerLinks {
    position: absolute;

    width: 100%;

    bottom: 0;
    left: -59px;
  }

  .SpeakerPage-details {
    flex: 5;

    min-width: 300px;

    padding: 0;

    font-size: 20px;
    line-height: 28px;
  }

  .SpeakerPage-details h2 {
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;

    margin-bottom: 8px;
  }

  .SpeakerPage-details * + h2 {
    margin-top: 64px;
  }

  .SpeakerPage-details h2:first-child {
    margin-top: 0px;
  }

  .SpeakerPage-details h2 + p {
    margin-top: 28px;
  }

  .SpeakerPage-details h3 {
    font-size: 28px;
    line-height: 40px;
    font-style: normal;
    opacity: 0.6;
  }

  .SpeakerPage-details strong {
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
  }

  .SpeakerPage-details a {
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
  }
}
