.Timemachinelight {
  position: absolute;

  top: 50%;
  left: 50%;

  width: 100%;
  max-width: 100%;

  opacity: 0;
  z-index: -1;

  transform: translate(-49.6%, -48.6%) scale(1.25);

  animation: 5s 5.8s light forwards linear;
}

@keyframes light {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
