.Hexagons {
  position: absolute;

  top: 50%;
  left: 50%;

  width: 100%;
  max-width: 100%;

  z-index: 3;

  transform: translate(-50%, -50%);
}

.Hexagons-hexagon1,
.Hexagons-hexagon2,
.Hexagons-hexagon3,
.Hexagons-hexagon4,
.Hexagons-hexagon5 {
  opacity: 0;
}

.Hexagons-hexagon1 {
  animation: 0.5s 6s cubic-bezier(0, 0.49, 0.1, 1) forwards hexagon;
}

.Hexagons-hexagon2 {
  animation: 0.5s 7s cubic-bezier(0, 0.49, 0.1, 1) forwards hexagon;
}

.Hexagons-hexagon3 {
  animation: 0.5s 8s cubic-bezier(0, 0.49, 0.1, 1) forwards hexagon;
}

.Hexagons-hexagon4 {
  animation: 0.5s 9s cubic-bezier(0, 0.49, 0.1, 1) forwards hexagon;
}

.Hexagons-hexagon5 {
  animation: 0.5s 10s cubic-bezier(0, 0.49, 0.1, 1) forwards hexagon;
}

@keyframes hexagon {
  to {
    opacity: 1;
  }
}
