.Speakers {
  position: relative;

  overflow: hidden;

  background: #a10b53;

  z-index: 0;
}

.Speakers-background {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 0;
}

.Speakers-background canvas {
  width: 100%;

  transform: translateZ(0px);
}

.Speakers-content {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;

  overflow: hidden;

  z-index: 1;
}

.Speakers-listWrapper {
  bottom: 0;

  width: 100%;
}

.Speakers-list {
  display: none;

  width: 100%;
  max-width: 100%;
}

.Speakers-listMobile {
  position: relative;

  width: 100%;
  max-width: 100%;

  transform: translateX(-20px);

  z-index: 1;
}

@media screen and (min-width: 700px) {
  .Speakers-list {
    display: block;
  }

  .Speakers-listMobile {
    display: none;
  }
}
