.Hero {
  position: relative;

  background: linear-gradient(180deg, #100530 0%, #622970 100%);

  overflow: hidden;
}

.Hero-background {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.Hero-planets {
  position: absolute;

  top: 50%;
  left: 50%;

  width: 100%;
  height: 100%;

  transform: translate(-50%, -50%);
}

.Hero-content {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 100vh;

  z-index: 2;
}

.Hero-navigation {
  width: 100%;
  min-height: 100vh;
  max-width: 1000px;

  margin: 0 auto;

  z-index: 9999;
}

@media screen and (min-width: 700px) {
  .Hero-navigation {
    min-height: auto;
  }
}
