.Planets {
  position: relative;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

.Planets-planet {
  position: absolute;
}

.Planets-planet.first {
  right: 0;
  bottom: 0;
}

.Planets-planet.second {
  top: 5%;
  left: 5%;
}

.Planets-planet.third {
  right: 5%;
  top: 5%;
}
