.Circle {
  position: absolute;

  width: 100%;
  max-width: 100%;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -47.5%) rotateZ(0deg) scale(1.15);
  transform-origin: 50% 50%;

  z-index: 2;

  animation: circleAppear 2s forwards linear,
    rotation 11.7s forwards cubic-bezier(0.15, 1.38, 0.14, 0.97);
  /* animation: rotation 20s forwards cubic-bezier(0.15, 1.38, 0.14, 0.97); */
}

@keyframes circleAppear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotation {
  to {
    transform: translate(-50%, -47.5%) rotateZ(7200deg) scale(1.15);
  }
}
