.Workshop {
  position: relative;

  display: flex;
  flex-direction: column;

  padding-bottom: calc(108px + 48px + 28px); /* actions height + spacing */
}

.Workshop-column {
  flex: 1;
}

.Workshop-column:not(:first-child) {
  margin-top: 20px;
}

.Workshop-actions {
  position: absolute;

  bottom: 0;

  display: flex;
  flex-direction: column;

  z-index: 2;
}

.Workshop-dateTime {
  margin-bottom: 60px;
}

.Workshop-title {
  color: #1c3448;
  font-size: 40px;
  line-height: 52px;
  font-weight: bold;
  font-family: 'freight-text-pro';
}

.Workshop-day {
  display: inline-block;

  opacity: 0.6;
}

.Workshop-speaker {
  margin-bottom: 28px;
}

.Workshop-day,
.Workshop-description {
  color: #1c3448;
  font-size: 20px;
  line-height: 28px;
  font-family: 'lato';
  text-shadow: 2px 2px 1px rgba(31, 48, 70, 0.397702);
}

.Workshop-description {
  font-size: 16px;
  line-height: 20px;
}

.Workshop-date,
.Workshop-price {
  color: #1c3448;
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  font-family: 'lato';
}

.Workshop-speaker,
.Workshop-discountPrice {
  opacity: 0.6;

  color: #1c3448;
  font-size: 20px;
  line-height: 28px;
  font-family: 'freight-text-pro';
}

.Workshop-discountPrice {
  margin-bottom: 28px;
}

.Workshop-title,
.Workshop-speaker,
.Workshop-dateTime,
.Workshop-description {
  position: relative;

  z-index: 2;
}

@media screen and (min-width: 769px) {
  .Workshop {
    flex-direction: row;
  }

  .Workshop.Workshop--alternate {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .Workshop-column {
    flex: 1;

    max-width: 542px;
  }

  .Workshop-column:not(:last-child) {
    margin-right: 130px;
  }

  .Workshop-column:not(:first-child) {
    margin-top: 0px;
  }

  .Workshop.Workshop--alternate .Workshop-column:not(:last-child) {
    margin-right: 0;
    margin-left: 130px;
  }

  .Workshop-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 60px;
  }

  .Workshop-dateTime {
    width: 280px;
    margin-left: calc(100% - 280px);
    margin-bottom: 60px;
  }

  .Workshop.Workshop--alternate .Workshop-dateTime {
    margin-left: 0;
  }

  .Workshop-title {
    font-size: 56px;
    line-height: 64px;
  }

  .Workshop-description {
    font-size: 20px;
    line-height: 28px;
  }

  .Workshop-speaker,
  .Workshop-discountPrice {
    opacity: 0.6;

    color: #1c3448;
    font-size: 20px;
    line-height: 28px;
    font-family: 'freight-text-pro';
  }

  .Workshop-discountPrice {
    margin-bottom: 0px;
  }

  .Workshop-title,
  .Workshop-actions,
  .Workshop-speaker,
  .Workshop-dateTime,
  .Workshop-description {
    position: relative;

    z-index: 2;
  }
}
