.Workshops {
  position: relative;

  width: 100%;
  min-height: 100vh;

  padding: 90px;

  color: #203046;

  background: radial-gradient(
    4303.78px at 50% 0%,
    #213a4e 0%,
    #1f2c44 53.11%,
    #214d6a 84.77%,
    #302845 100%
  );
}

.Workshops-wrapper {
  max-width: 1440px;

  margin: 0 auto;
}

.Workshops-list {
  position: relative;

  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;
}

.Workshops-listItem {
  margin: 0;
  padding: 0;

  &:not(:first-child) {
    margin-top: 68px;
  }
}
