.Workshops {
  position: relative;

  width: 100%;

  color: #1c3448;

  background-color: #1c3448;

  cursor: none;
}

.Workshops-title {
  text-align: center;
}

.Workshops-spacer {
  height: 100vh;
}

.Workshops-wrapper {
  padding: 120px 20px 0;
}

.Workshops-list {
  position: relative;

  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;
}

.Workshops-listItem:not(:first-child) {
  margin-top: 112px;
  padding: 0;
}

@media screen and (min-width: 769px) {
  .Workshops-wrapper {
    max-width: 1440px;

    margin: 0 auto;
    padding: 140px 0;
  }

  .Workshops-list {
    position: relative;

    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  .Workshops-listItem {
    margin: 0;
    padding: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
