.Workshops {
  position: relative;

  width: 100%;
  min-height: 100vh;

  padding: 90px;

  color: #1c3448;

  background-color: #1c3448;

  cursor: none;
}

.Workshops-wrapper {
  max-width: 1440px;

  margin: 0 auto;
}

.Workshops-list {
  position: relative;

  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;
}

.Workshops-listItem {
  margin: 112px 0;
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }
}
